<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repaso HTML</title>
    <link rel="stylesheet" href="../assets/css/estilo.css">
</head>
<body>
    <!-- Elementos en bloque // Ocupan el totalidad de la pantalla -->
    <h1>Titulo</h1>
    <p>Hola</p>
    <!-- Elementos en linea // Ocupan solo su espacio -->
    <hr>
    <span class="saludo" id="saludoInicial">A</span>
    <img src="../assets/img/spring_soliloquy_by_fabulaphoto_dehzng5-fullview.jpg">
    <a href="https://www.youtube.com/watch?v=sLLU3GEFY2M">Cancion</a>
    <a href="../index.html">Index.html</a>

    <!-- Listas Ordenadas -->
    <hr>

    <ol>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ol>

    <ul>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ul>

    <!-- Etiquetas para escribir css en el documento Style-->

    <script src="../assets/js/main.js">

    </script>
</body>
</html>