body{
    margin: 0;
    background-color: #c3dbeb;
}

h1{
   margin-left: 83%;
}

p{
    text-indent: 40px
}

#tituloPrincipal{
    color: #f90d0e;
}

em{
    background-color: #ffffff;
    color: #309830;
}

#parrafonaranja{
    color: #d07738;
    font-weight: bold;
}

h2{
    font-size: 2.5rem;
    font-weight: bold;
}

.naranjaclaro{
    color: #eca54e;
}

